*,
::before,
::after {
    box-sizing: border-box;

}

html {
    min-height: 100%;
    scroll-behavior: smooth;
}

:where(ul, ol,  dd):where([class]) {
    padding-left: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
    margin-block: 0;
}

body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

:where(ul[class]) {
    list-style: none;
}





